header{
    width: 70%;
    background-color: #868585;
    border-radius: 10px;
}

header h1{
    color: #201f1f
}

nav {
    width: 70%;
    margin: 5px auto;
    border-radius: 10px;
}


main {
   border: none;
   border-radius: 10px;
}

main table img{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px hsla(0, 0%, 27%, 0.5);
}

footer {
    text-align: center;
    padding: 10px 30px;
    margin: 8px auto;
    border-radius: 10px;
    background-color: gray;
    width: 70%;
}

.imagem-destacada {
    box-shadow: 0 0 20px red;
}