* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
    color: white;
    line-height: 1.5;
}

header {
    text-align: center;
    padding: 30px;
    margin: 15px auto 5px;
    background-color: rgb(68, 67, 67);
}

body{
    background-color: rgb(216, 216, 216);
}

main{
    width: 70%;
    margin: 0px auto 30px;

    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
    gap: 1rem;
}


.item{
    min-width: 250px;
    max-width: 350px;
    
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    display: flex;
    padding: 10px;
    
    flex: 1 1 0;
    flex-direction: column;
    justify-content: space-between;
}

p,h2{
    color: black;
}

.preço{
    margin-top: 10px;
    font-weight: bold;
    color: red;
}

main img{
    height: 100%;
    width: 100%;
}

@media(max-width: 600px){
    main{
        width: 95%;
    }
}